@import "../../colors";

.navigation {
    background: $navBackground;
    color: $fontColor;
    box-shadow: 1px 1px 3px 1px rgba(171, 0, 0, 0.5);

    .mdl-navigation__link:hover {
        cursor: pointer;
    }

    .mdl-layout-title {
        padding-right: 15px;
    }

    a {
        color: $fontColor;
        margin: 20px;
        border: 0;
        text-decoration: none;
        padding: 10px;

        &.active {
            color: $navActiveLink;
            font-weight: 600; 
            text-decoration: underline;
        }
    }
}
