@import "../../../colors";

.friends-list {
    background: $navBackground;
    box-shadow: 4px 4px 0 2px rgba(0,0,0,.4);
    color: $fontColor;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    width: 90%;

    .friend-box {
        background: #d75813;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(171,0,0, 0.8);

        .x-button {
            display: flex;
            justify-content: flex-end;

            a:hover {
                text-decoration: none;
            }
        }        

        h3 {
            margin-top: 0;
            text-align: center;
        }

        a {
            color: $linkFontColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;                
            }
        }
    }
}
