@import "../../../colors";

.users-list-wrapper {
    position: absolute;
    top: 82px;

    .users-list {
        background: $navBackground;
        border-radius: 5px;
        color: $fontColor;
        box-shadow: 1px 1px 0 1px rgba(215,88,19,.4);
        padding: 20px;
        margin: 0 20px;
        width: 150px;

        a {
            color: $fontColor;
            text-decoration: none;

            &.active {
                text-decoration: underline;
            }
        }
    }
}
